# Ambiente Virtual
venv/
env/
.env

# Banco de dados (Não subir dados reais)
*.db
*.sqlite
*.sqlite3
instance/

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class

# IDEs e OS
.vscode/
.idea/
.DS_Store